    /*PERSONALIZACIÓN DE P.MANTENIMIENTO*/
    
    body {
        background-color: rgb(233, 165, 20);
    }
    
    .mantenimiento {
        width: 90%;
        margin: 200px auto;
        overflow: hidden;
        padding: 32px;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        justify-content: center;
    }
    
    .foto {
        width: 90%;
        margin: 100px auto;
        overflow: hidden;
        padding: 32px;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        justify-content: center;
    }
    
    .mantenimiento h1 {
        font-family: "noto sans", sans-serif;
    }
    
    .mantenimiento h1 {
        font-size: 3em;
        text-align: center;
        padding: 16px;
    }
    /*TIPOGRAFÍAS*/
    
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans');
    /*INICIALIZACIÓN DE ESTILOS*/
    
    * {
        -webkit-box-sizing: border-box;
        ;
        box-sizing: border-box;
        ;
    }
    /*------ media queries----*/
    
    @media screen and (max-width:800px) {
        .mantenimiento .mantenimiento h1 {
            width: 46%;
            font-size: 35px;
        }
    }
    
    @media screen and (max-width:500px) {
        .mantenimiento .mantenimiento h1 {
            width: 46%;
            font-size: 18px;
        }
    }